/***************************** IMPORTS *****************************/
/* google font Anton + Manrope*/
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Manrope:wght@400;500;700&display=swap');

/****************************************************** FONTS */
body,
input,
select {
  font-family: Manrope, sans-serif;
}

/****************************************************** COLORS */
body,
input,
select {
  color: color(text);
}
a {
  color: color(link);
  @include on-event {
    color: color(tertiary);
  }
}
